body {
  text-align: center; 
  max-width: 100%;
  
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
}

@media screen and (max-width: 530px) {
  body {
    display: flex;
    flex-flow: column;
    max-height: 420px;
  }
}